###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/.idea
/public/css/bootstrap.*
/public/js/bootstrap.*
/public/js/jquery.*
!/var/certs/.gitignore
!/var/check/fantasya.tpl
!/var/orders/.gitignore
!/var/zip/.gitignore
/composer.lock

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
