/* HTML elements */

body {
	background-color: #fff3d1;
	color: #454545;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, "Times New Roman", Times, serif;
}

h1, h2, h3, h4 {
	font-weight: 700;
}

h1.card-header, h2.card-header {
	color: #fff3d1;
}

h1.card-header {
	background: #90602a;
}

h2, h3, h3.card-header, h4 {
	color: #e13900;
}

h1, h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1.1rem;
}

h4 {
	font-size: 1.0rem;
}

p {
	text-align: justify;
}

address {
	color: #4d2d09;
}

a, a.nav-link {
	color: #704a21;
	text-decoration: none;
}
a:hover, a.nav-link:hover, a.nav-link:focus {
	color: #4d2d09;
	text-decoration: none;
}

ol, ul {
	padding-inline-start: 40px;
}

ul {
	/* Use SQUARE if browser does not know DISCLOSURE-CLOSED. */
	list-style-type: square;
	list-style-type: disclosure-closed;
}

dd {
	margin-left: 3.0rem;
	text-align: justify;
}

img.icon {
	width: 1.5rem;
	vertical-align: top;
	margin-left: 0.2rem;
}

/* Bootstrap reset */

.float-right {
	margin-bottom: 0;
}

.text-danger {
	font-weight: 700;
}

@media (min-width: 1400px) {
	.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
		max-width: 1180px;
	}
}
/* Header drop-down collapse */

h2 .btn.dropdown-toggle {
	background-color: #90602a;
	color: #fff3d1;
	border: none;
	border-radius: unset;
	line-height: 1.0;
	padding: 0.33rem 1.0rem 0;
	margin-left: 0.25rem;
	vertical-align: unset;
}

h2 .btn.dropdown-toggle::after {
	border-top: 0;
	border-bottom: 0.3rem solid;
	vertical-align: 0.35rem;
}

h2 .btn.dropdown-toggle.collapsed::after {
	border-top: 0.3rem solid;
	border-bottom: 0;
	vertical-align: 0.255rem;
}

/* Forms */

form label {
	vertical-align: text-top;
	margin-bottom: 0.5rem;
}

form .form-check-label {
	margin-left: unset;
}

form .form-check-label span {
	color: #704a21;
	font-size: 125%;
	margin-left: 0.2em;
}

form .form-group .form-check-input[type="checkbox"] {
	border-radius: unset;
	margin-top: 0.6em;
}

form .btn-primary {
	background-color: #90602a;
	border: none;
	border-radius: unset;
}
form .btn-primary:hover {
	background-color: #4d2d09;
}

form .btn-block {
	width: 100%;
}

form .row {
	margin-left: 0;
	margin-right: 0;
}

form .row > div {
	padding-left: 0;
}

form .row > div:last-child {
	padding-right: 0;
}

.form-group {
	margin-bottom: 1rem;
}

.form-control, .form-select {
	border-radius: 0;
}

#settings-form .form-group,
#settings-form .form-group .form-label {
	margin-bottom: 0;
}

/* Header */

.container-fluid.logo {
	background: linear-gradient(#753d00, #c28e51);
}

.navbar {
	background: linear-gradient(#473f28, #6c6552);
}

.navbar .nav-item {
	font-size: 1.8rem;
	font-weight: bold;
	margin: 0.1rem 1rem;
}

.navbar .nav-item a,
.navbar .nav-item button {
	color: #fff;
	text-decoration: none;
}
.navbar .nav-item a:hover,
#mobile-nav-buttons .nav-link.active {
	color: #ddd;
}

#mobile-nav-buttons {
	margin-top: 1.5rem;
}

#mobile-nav-buttons .navbar {
	background: linear-gradient(#573d21, #90602a);
}

#mobile-nav-buttons .nav-tabs,
#mobile-nav-buttons .nav-link  {
	border: none;
}

#mobile-nav-buttons .nav-tabs .nav-link {
	background: none;
	font-size: 1.25rem;
}

#mobile-nav-buttons .nav-item {

}

.container-fluid.myth {
	background: #d0c6a3;
}

.container-fluid.myth span {
	display: block;
	font-style: italic;
	padding: 0.36rem;
	text-align: center;
}

.privacy-attention h2 {
	margin: 1.5rem 0 0;
}

/* Content */

.container > .row > div {
	padding: 0 0.72rem;
}

.card {
    border-color: #90602a;
	border-radius: unset;
	margin-top: 1.5rem;
}

.card-header {
	background: linear-gradient(#573d21, #90602a);
	border-bottom: none;
	padding: 0.5rem 1.0rem;
	word-wrap: normal;
}
.card-header:first-child {
	border-radius: unset;
}

.card-body {
	background-color: #e8dcba;
	padding: 0.75rem 1.25rem;
}

.card-footer {
    padding: 0.5rem 1.0rem;
}

.nav-link {
	padding: 0;
}

main .card {
	background: unset;
	border: none;
}

main .card-body {
	background-color: unset;
	padding: 0.75rem 0.25rem;
}

main a:before {
	content: '» '
}

main .nav-tabs, main .nav-tabs .nav-link.active, main .nav-tabs .nav-link:hover, main .nav-tabs .nav-link:focus, main .pagination a, main .pagination a:hover, main .pagination .active span {
	border-color: #704a21;
}
main .nav-tabs .nav-link, main .pagination .page-link {
	color: #fff3d1;
	background-color: #704a21;
}
main .nav-tabs .nav-link.active {
	color: #fff3d1;
	background-color: #e13900;
	font-weight: bold;
	border-bottom-color: #fff3d1;
}
main .nav-tabs a:hover, main .nav-tabs a:focus, main .pagination a:hover, main .pagination a:focus {
	color: #fff;
}
main .nav-tabs a:before, main .pagination a:before {
	content: unset;
}

main .page-item.active .page-link {
	background-color: #e13900;
	font-weight: bold;
}

main .page-item:not(:first-child) .page-link {
	margin-left: 0;
}

main .pagination .current-round {
	margin: 0 0.3rem;
}

main a.inline.image:before, main .undecorated-link a:before {
	content: unset;
}

main a.inline img {
	vertical-align: text-top;
	margin-left: 0.5rem;
}

main .table-like.row {
	margin-bottom: 0.25rem;
}
main .table-like.row > div {
	margin-bottom: 0.75rem;
}
main .table-like.row > div .th, main .table-like.row > div .td {
	display: block;
}
main .table-like.row > div .th {
	font-weight: bold;
}

.article.card {
	border: 1px solid #90602a;
}

.article .card-header {
	background: #e8dcba;
	border-bottom: 1px solid #90602a;
}

.article .card-body {
	padding: 0.25rem 0.5rem;
}

p.myth {
	font-style: italic;
}

div#liberapay-receiving a span:nth-child(2) > span:first-child {
	display: none;
}

/* Footer */

footer {
	background: #d0c6a3;
	margin-top: 2.0rem;
}

footer span {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding: 1.5rem 1.0rem;
	text-align: center;
	text-transform: uppercase;
}
