/* HTML elements */

body {
	background-color: #fff3d1;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, "Times New Roman", Times, serif;
	color: #454545;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h2, h3, h4, h5, h6 {
	color: #F93d00;
}

h1 {
	color: #fff3d1;
	font-size: 1.5rem;
}

h2 {
	font-size: 1.25rem;
}

a {
	color: #704a21;
}

ul {
	list-style-type: square;
	list-style-type: disclosure-closed;
}

/* Bootstrap reset */

.container-fluid {
	padding: 0;
}

/* Header */

.container-fluid.logo {
	background: linear-gradient(#753d00, #c28e51);
}

.navbar {
	background: linear-gradient(#473f28, #6c6552);
}

.navbar .nav-item {
	font-size: 1.8rem;
	font-weight: bold;
	margin: 0.1rem 1rem;
}

.navbar .nav-item a {
	color: #fff;
	text-decoration: none;
}

.container-fluid.myth {
	background: #d0c6a3;
}

.container-fluid.myth span {
	display: block;
	font-style: italic;
	padding: 5px;
	text-align: center;
}

/* Content */

.container .row .left {
	padding-right: 10px;
}

.container .row .right {
	padding-left: 10px;
}

.card {
	border-radius: unset;
	margin-top: 1.5rem;
}

.card-header {
	background: linear-gradient(#573d21, #90602a);
	border-bottom: none;
	padding: 0.5rem 1.0rem;
}
.card-header:first-child {
	border-radius: unset;
}

.left .card {
	border-color: #90602a;
}

.left .card-body {
	background-color: #e8dcba;
	padding: 0.75rem 1.25rem;
}

.right .card {
	background: unset;
	border: none;
}

.right .card-body {
	padding: 0.75rem 0.25rem;
}

.nav-link {
	padding: 0;
}

/* Legacy stuff */

form span.error {
    color: #F93D00;
    margin: 0 0 0 5px;
}

table {
	font-size: 14px;
}

/* Content */

#content {
	float: right;
	width: 700px;
	padding: 50px 20px 0 0;
}

#content ul {
    list-style-type: square;
}

.post {
	margin-bottom: 8px;
}

.post h2 {
	background: #90602A url(../images/img03.jpg) repeat-x left top;
	border: 1px #EEE3C3 solid;
	height: 32px;
	padding: 6px 15px 2px;
	color: #FFF3D1;
}

.post > div {
	padding: 10px 5px 15px;
	text-align: justify;
}

.post p, .post ul {
    line-height: 1.25em;
}

.article {
    margin: 10px 0 0;
	border: 1px #bf985f solid;
}

.article h3 {
    background-color: #e8dcba;
	border-bottom: 1px #bf985f solid;
	height: 24px;
	padding: 5px 10px 3px;
}

.article p {
	padding: 5px 10px 3px;
	margin: 0;
}

.article p.edit {
    border-top: 1px #bf985f dashed;
}

.article p.edit a {
    color: #5555aa;
}

.captcha img {
    vertical-align: middle;
    margin: 0 0 10px;
}

div#world .statistic {
	width: 100%;
}
div#world .statistic th {
	text-align: left;
	min-width: 40px;
}

div#world .parties dt {
	font-weight: bold;
}

/* Footer */

footer {
	background: #d0c6a3;
	margin-top: 2.0rem;
}

footer span {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	padding: 1.5rem 1.0rem;
	text-align: center;
	text-transform: uppercase;
}

footer a {
	color: #704a21;
}
