{% extends 'base.html.twig' %}

{% block title %}
    Fantasya-Kontakt
{% endblock %}

{% block header %}
    Kontakt
{% endblock %}

{% block content %}
    <h2>Inhaltlich Verantwortlicher gem. TMG:</h2>
    <p>
        Sascha Ternes<br>
        <address>info@fantasya-pbem.de</address>
    </p>

    <h2>Hosting</h2>
    <p>
        Hallerbach IT<br>
        <a href="https://www.hallerbach-it.de/">www.hallerbach-it.de</a>
    </p>
{% endblock %}
