{% extends 'base.html.twig' %}

{% block title %}
    Fantasya spenden
{% endblock %}

{% block header %}
    Spenden
{% endblock %}

{% block content %}
    <p>Der Betrieb des Servers für Fantasya kostet Geld.</p>

    <p>
        Es ist nicht viel, aber vielleicht gefällt Dir Fantasya so gut, dass Du gerne einen kleinen Beitrag zur
        Finanzierung leisten möchtest.
    </p>

    <h2>Spenden über Liberapay</h2>
    <div class="row">
        <div class="col-6 col-md-8 col-lg-9">
            <p>Liberapay ist ein Zahlungsdienst, der anonyme Spenden an Fantasya ermöglicht.</p>
            <script src="https://liberapay.com/Fantasya/widgets/button.js"></script>
        </div>
        <div id="liberapay-receiving" class="col-6 col-md-4 col-lg-3 undecorated-link">
            <script src="https://liberapay.com/Fantasya/widgets/receiving.js"></script>
        </div>
    </div>
    <noscript>
        <p class="undecorated-link">
            <a href="https://liberapay.com/Fantasya">
                <img alt="Spende über Liberapay" src="https://liberapay.com/assets/widgets/donate.svg">
            </a>
        </p>
    </noscript>

    <h2>Spenden per PayPal</h2>
    <div class="row">
        <div class="col-6 col-md-8 col-lg-9">
            <p>Wenn Du lieber direkt über PayPal spenden willst, verwende diese E-Mail-Adresse:</p>
            <address>info@fantasya-pbem.de</address>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/emea/de/de/logo-center/M2_Logo_03.jpg">
        </div>
    </div>

    <h2>Brave Rewards</h2>

    <p>Wenn Du den <a href="https://brave.com" target="_blank">Brave-Browser</a> (eine Variante des Open-Source-Browsers
        Chromium mit eingebautem Werbeblocker und weiteren Anpassungen für mehr Privatsphäre) verwendest, kannst Du
        Fantasya direkt eine Brave-Belohnung in Form von BATs spenden.
    </p>

    <h2>Bitcoin spenden</h2>
    <p>
        Vielleicht kennst Du Bitcoins, die mittlerweile weit verbreitete virtuelle Währung des Internets, und möchtest
        ein paar mBTC für Fantasya spenden? Dann sende Deine Spende an diese Adresse:
    </p>

    <p class="font-monospace"><strong>18GPpNuzLGJze9Hep8do8haTDfadjY3wtu</strong></p>

    <p>Dankeschön!</p>

    <p style="text-align: center">
        <a href="bitcoin:18GPpNuzLGJze9Hep8do8haTDfadjY3wtu">
            <img src="/images/donate.png" />
        </a>
    </p>

    {% if is_granted('ROLE_ADMIN') %}
        <p>
            <a href="https://blockchain.info/address/18GPpNuzLGJze9Hep8do8haTDfadjY3wtu" target="_blank">
                Spendenstatus in der Blockchain überprüfen
            </a>
        </p>
    {% endif %}
{% endblock %}
