<form method="post" action="{{ path('user_login') }}">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <div class="form-group">
        <label for="username" class="visually-hidden-focusable">Benutzername</label>
        <input type="text" name="_username" id="username" class="form-control" placeholder="Benutzername" required{{ app.current_route not in ['privacy', 'user_register', 'user_reset'] ? ' autofocus' : '' }}>
    </div>
    <div class="form-group">
        <label for="password" class="visually-hidden-focusable">Passwort</label>
        <input type="password" name="_password" id="password" class="form-control" placeholder="Passwort" required>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" id="remember-me" name="_remember_me" class="form-check-input">
        <label for="remember-me" class="form-check-label">Eingeloggt bleiben</label>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Anmelden</button>
</form>
