body {
	margin: 0;
	padding: 0;
	background: #FFF3D1 url(images/img01.jpg) repeat-x left top;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #454545;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	color: #F93D00;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #704A21;
}

a:hover {
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 960px;
	height: 105px;
	margin: 0 auto;
}

/* Logo */

#logo {
	background: url(images/header.jpg) no-repeat left top;
	width: 960px;
	height: 102px;
	margin: 0;
	padding: 0;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	letter-spacing: -1px;
	text-transform: none;
	font-size: 2.6em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 12px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 230px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 70px 0 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 210px;
	border: none;
	text-transform: lowercase;
	font: bold 1.2em Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 960px;
	height: 50px;
	margin: 0 auto 0 15px;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	height: 50px;
	background: url(images/img02.jpg) no-repeat right top;
}
#menu li.last {
	background-image: none;
}

#menu a {
	display: block;
	margin: 5px 3px 0 0;
	padding: 0px 30px 7px 30px;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
}

#menu a:hover {
	text-decoration: underline;
}

/* Gerücht */
#myth {
    position: absolute;
    top: 160px;
    width: 960px;
}

#myth span {
    text-align: center;
    font-style: italic;
    display: block;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 220px;
	padding: 50px 0 0 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1.5em;
}

#sidebar ul ul {
	padding: 0.8em 0;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar > ul > li {
	background-color: #e8dcba;
	border: 1px solid #bf985f;
	margin: 0 0 30px;
}

#sidebar li li {
	margin: 0px 15px 0;
}

#sidebar h2 {
	background: #90602A url(images/img03.jpg) repeat-x left top;
	border: 0px #EEE3C3 solid;
	height: 32px;
	padding: 8px 0 0 15px;
	letter-spacing: -.5px;
	color: #FFF3D1;
	font-weight: bold;
}

#sidebar p {
	margin: 0.8em 15px 0;
	padding-bottom: 15px;
	text-align: justify;
	line-height: 1.25em;
}

#sidebar a {
	color: #704A21;
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #787878;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
}

/* Content */

#content {
	float: right;
	width: 700px;
	padding: 50px 20px 0 0;
}

#content ul {
    list-style-type: square;    
}

.post {
	margin-bottom: 8px;
}

.post h2 {
	background: #90602A url(images/img03.jpg) repeat-x left top;
	border: 1px #EEE3C3 solid;
	height: 32px;
	padding: 6px 15px 2px;
	color: #FFF3D1;
}

.post > div {
	padding: 10px 5px 15px;
	text-align: justify;
}

.post p, .post ul {
    line-height: 1.25em;
}

/* Footer */

#footer {
	width: 100%;
	background: #D0C6A3;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
}

#footer a {
	color: #704A21;
}
