<ul class="nav flex-column">
    <li class="nav-item">
        <a href="https://www.eressea.de/" class="nav-link" target="ext-eressea">Eressea</a>
    </li>
    <li class="nav-item">
        <a href="http://www.pbem-spiele.de" class="nav-link" target="ext-pbem">PbEM-Spiele.de</a>
    </li>
    <li class="nav-item">
        <a href="https://github.com/magellan2/magellan2" class="nav-link" target="ext-magellan">Magellan-Client</a>
    </li>
    <li class="nav-item">
        <a href="https://github.com/ennorehling/csmapfx" class="nav-link" target="ext-csmapfx">CsMapFx-Client</a>
    </li>
    <!--
        <li class="nav-item">
            <a href="http://fanalytics.dynamic-storage.com" class="nav-link" target="ext-fanalytics">Fanalytics³-Client</a>
        </li>
    -->
    <li class="nav-item">
        <a href="https://gulrak.de/pbemtools/" class="nav-link" target="ext-vorlage">Vorlage-Tool</a>
    </li>
    <li class="nav-item">
        <a href="https://web.archive.org/web/20161215230824/http://www.metadrei.org/toolbelt/forlage.html" class="nav-link" target="ext-forlage">Forlage</a>
    </li>
</ul>
