<ul class="nav flex-column">
    <li class="nav-item">
        <a href="http://www.metadrei.org/toolbelt/forlage.html" class="nav-link">Forlage</a>
    </li>
    <li class="nav-item">
        <a href="http://sourceforge.net/projects/magellan-client" class="nav-link">Magellan-Client</a>
    </li>
    <li class="nav-item">
        <a href="http://fanalytics.dynamic-storage.com" class="nav-link">Fanalytics³-Client</a>
    </li>
    <li class="nav-item">
        <a href="http://www.gulrak.de" class="nav-link">Vorlage-Tool</a>
    </li>
    <li class="nav-item">
        <a href="http://www.eressea.de" class="nav-link">Eressea</a>
    </li>
    <li class="nav-item">
        <a href="http://www.german-atlantis.de" class="nav-link">German Atlantis</a>
    </li>
    <li class="nav-item">
        <a href="http://www.pbem-spiele.de" class="nav-link">PbEM-Spiele.de</a>
    </li>
</ul>
