<nav class="navbar navbar-expand">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item ml-0 mr-3 mr-md-4 mr-lg-5">
            <a href="//wiki.fantasya-pbem.de">Bibliothek</a>
        </li>
        <li class="nav-item mx-sm-3 mx-md-4 mx-lg-5">
            <a href="//forum.fantasya-pbem.de">Taverne</a>
        </li>
        <li class="nav-item mx-sm-3 mx-md-4 mx-lg-5">
            <a href="https://web.libera.chat/?channels=#fantasya" target="fantasya_chat">Chat</a>
        </li>
        <li class="nav-item ml-3 mr-0 mx-sm-3 mx-md-4 mx-lg-5">
            <a rel="me" href="{{ mastodon_url }}" target="fantasya_mastodon">
                <img src="{{ asset('images/m.png') }}" alt="Mastodon">
            </a>
        </li>
        <li class="nav-item d-none d-sm-block ml-sm-3 ml-md-4 ml-lg-5 mr-0">
            <a href="https://github.com/lemuria-pbem" target="fantasya_entwicklung">Entwicklung</a>
        </li>
    </ul>
</nav>
