<ul class="nav flex-column">
    {% for game in game_service.all %}
        {% if game.canEnter %}
            <li class="nav-item">
                <a href="{{ path('world', {'alias': game.name | lower}) }}" class="nav-link">{{ game.name }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
