{% extends 'base.html.twig' %}

{% block title %}
    Magellan-Upload
{% endblock %}

{% block robots %}noindex, nofollow{% endblock %}

{% block description %}
    Die Fantasya-Webseite unterstützt den Upload der Befehle direkt aus Magellan heraus.
{% endblock %}

{% block header %}
    Magellan-Upload
{% endblock %}

{% block content %}
<p>
    Fantasya unterstützt die Uploadfunktion des Magellan-Clients. Du hast die Uploadseite für Magellan in Deinem Browser
    aufgerufen, ohne eine Befehlsdatei hochzuladen, deshalb erscheint diese Testseite.
</p>
{% endblock %}
