{% extends 'base.html.twig' %}

{% block title %}
    Fantasya-Neuigkeiten
{% endblock %}

{% block header %}
    Neuigkeiten
{% endblock %}

{% block content %}
    <p>Seit Anfang 2015 ist Fantasya wieder online!</p>

    <p>
        Spielbefehle bitte an die E-Mail-Adresse <strong>befehle(at)fantasya-pbem.de</strong> senden. Für Fragen ist
        unser Forum, die Taverne, der geeignete Ort.
    </p>

    {% for article in news %}
    <div class="article card">
        <h3 class="card-header">{{ article.createdAt|localizeddate('long', 'none') }} – {{ article.title }}</h3>
        <div class="card-body">{{ article.content }}</div>
    </div>
    {% endfor %}
{% endblock %}
