{% extends 'base.html.twig' %}

{% block title %}
    Fantasya-Gerüchte
{% endblock %}

{% block header %}
    Gerüchte
{% endblock %}

{% block content %}
    {% if app.user %}
    <p style="float: right;"><a href="/myth">ein Gerücht in die Welt setzen</a></p>
    <p style="clear: right;"></p>
    {%  endif %}

    {% for myth in myths %}
        <p class="myth">„{{ myth.myth }}“</p>
    {% endfor %}
{% endblock %}
