{% extends 'base.html.twig' %}

{% block title %}
    Gerüchte aus den Fantasya-Welten
{% endblock %}

{% block description %}
    Hier kannst Du die neuesten Gerüchte aus Fantasyas Spielwelt erfahren.
{% endblock %}

{% block header %}
    Gerüchte
{% endblock %}

{% block content %}
    {% if is_granted('ROLE_USER') %}
        <p class="float-end">
            <a href="{{ path('myth_spread') }}">ein Gerücht in die Welt setzen</a>
        </p>
        <div class="clearfix"></div>
    {%  endif %}

    {% for myth in myths %}
        <p class="myth">„{{ myth.myth }}“</p>
    {% endfor %}

    {% if next > page %}
        <p class="float-end">
            <a href="{{ path('myth', {'page': next}) }}">mehr Gerüchte</a>
        </p>
        <div class="clearfix"></div>
    {% endif %}
{% endblock %}
