{% extends 'base.html.twig' %}

{% block title %}
    Fantasya-Befehle kontrollieren
{% endblock %}

{% block header %}
    Befehle kontrollieren
{% endblock %}

{% block content %}
    {{ include('forms/order.html.twig') }}

    <pre><strong>{{ order_service.check }}</strong></pre>

    {% if order_service.available %}
        {% if hasSimulation %}
            <h2>
                Simulation
                <button class="btn dropdown-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#simulation" aria-expanded="true" aria-controls="simulation"></button>
            </h2>
            <div id="simulation" class="collapse">
                <p id="simulation-mode-all" class="visually-hidden">
                    <a href="javascript:">alles anzeigen</a>
                </p>
                <p id="simulation-mode-problems" class="visually-hidden">
                    <a href="javascript:">nur Probleme anzeigen</a>
                </p>
                <pre class="visually-hidden"></pre>
                <div class="spinner-border m-5" role="status">
                    <span class="visually-hidden-focusable">Simulation wird geladen...</span>
                </div>
            </div>
        {% endif %}

        <h2>
            Befehle
            <button class="btn dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#orders" aria-expanded="true" aria-controls="orders"></button>
        </h2>
        <div id="orders" class="collapse show">
            <pre>{{ order_service.orders }}</pre>
        </div>
    {% endif %}
{% endblock %}
