{% extends 'base.html.twig' %}

{% block title %}
    Fantasya-Befehle senden
{% endblock %}

{% block header %}
    Befehle senden
{% endblock %}

{% block content %}
    <h2>Welt: {{ game_service.current.name }}</h2>
{% endblock %}
