{% extends 'base.html.twig' %}

{% block title %}
    Fantasya-Anmeldung fehlgeschlagen
{% endblock %}

{% block robots %}noindex, nofollow{% endblock %}

{% block header %}
    Anmeldung fehlgeschlagen
{% endblock %}

{% block content %}
    <p>Das war wohl das falsche Passwort!</p>

    <p><a href="{{ path('user_reset') }}">Neues Passwort anfordern</a></p>
{% endblock %}
