{% extends 'base.html.twig' %}

{% block title %}
    Fantasya-Registrierung
{% endblock %}

{% block header %}
    Registrierung für neue Spieler
{% endblock %}

{% block content %}
    <p>Du hast Dich registriert. Bitte schau in Deinem E-Mail-Postfach nach der Bestätigungsmail!</p>

    <p>Melde Dich mit dem Passwort aus der E-Mail an, um mit Deiner neuen Partei zu starten.</p>
{% endblock %}
