{% extends 'base.html.twig' %}

{% block title %}
    Fantasya-Registrierung
{% endblock %}

{% block robots %}noindex, nofollow{% endblock %}

{% block description %}
    Registriere hier Dein kostenloses Benutzerkonto und melde Dich danach an, um ein neues Spiel zu starten und die
    Einzelheiten Deiner Partei festzulegen.
{% endblock %}

{% block header %}
    Registrierung für neue Spieler
{% endblock %}

{% block content %}
    <p>
        Registriere hier Dein Benutzerkonto. Du erhältst dann eine E-Mail als Bestätigung. Melde Dich danach an, um ein
        neues Spiel zu starten und die Einzelheiten Deiner Partei festzulegen.
    </p>
    {% if existing %}
        {% if existing.name == form.name.vars.value %}
            <p>Es gibt bereits einen Benutzer mit diesem Namen. Bitte wähle einen anderen Benutzernamen.</p>
        {% endif %}
        {% if existing.email == form.email.vars.value %}
            <p>Es gibt bereits einen Benutzer mit dieser E-Mail-Adresse. Bitte wähle eine andere E-Mail-Adresse.</p>
        {% endif %}
    {% endif %}

    {{ form(form) }}

    <p>Die Antwort auf die Anti-Spam-Frage findest Du
        <a href="{{ antispam }}" target="_blank">in der Taverne</a>.
    </p>
{% endblock %}
