{% extends 'base.html.twig' %}

{% block title %}
    Neues Fantasya-Passwort anfordern
{% endblock %}

{% block header %}
    Neues Passwort anfordern
{% endblock %}

{% block content %}
    <p>Eine E-Mail mit dem neuen Passwort wurde versendet.</p>
{% endblock %}
